{var $robots = noindex}

{block #content}

<h1 n:block="title">Administrace</h1>

{control signInForm}

<p>Výchozí přihlašovací účty jsou <i>demo</i>/<i>xxx</i>, <i>admin</i>/<i>admin</i></p>
