{block #content}

<h1 n:block="title">Smazat stránku</h1>

{if $page}
<p>Opravdu chcete smazat stránku ‘{$page->title}’?</p>
	{control deleteForm}

{else}
<p>Nemůžu nalézt stránku.</p>
{/if}
